.input-group {
    font-family: "metropolis-extrabold", sans-serif;
    position: absolute;
    top: 19%;
    left: 93%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    height: 36px;
    border-radius: 30px;
    padding: 11px;
}

.input-group:hover > .form-control {
    width: 200px;
    padding: 5px 6px 40px;
}

.input-group:hover > .input-group-btn {
    background: white;
    color: #19191b;
    text-decoration: none;
}

.input-group-btn {
    color: #eeeeee;
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    cursor: pointer;
}

.input-group-btn > i {
    font-size: 23px;
}

.form-control {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 60px;
    font-weight: bold;
    text-decoration: none;
}

input[type="search"] {
    -webkit-text-fill-color: #000000;
}

input[type="search"]:focus {
    color: #19191b;
    border-bottom: #19191b;
}

