{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="row">
        <form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <button type="submit" style="width: 50%; display: inline-block; box-sizing: border-box; margin-top: 20px;"
                    class="btn btn-default">{% trans "Завантажити" %}</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>


    <style>
        input[type=text], input[type=submit], input[type="file" i] {
            width: 50%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            box-sizing: border-box;
        }
    </style>

{% endblock %}