<!DOCTYPE html>
{% load static %}
{% load i18n %}
<head>
    <meta charset="utf-8">
    <title>{% trans "UA ONLINE" %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/basic.css" %}">
    <link rel="stylesheet" href="{% static "css/style_search.css" %}">
    <link rel="stylesheet" href="{% static "css/style_footer.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="{% static "css/up.css" %}">
    <link rel="stylesheet" href="{% static "js/jquery-3.2.1.min.js" %}">
    <link rel="stylesheet" href="{% static "js/modernizr.js" %}">
    <link rel="stylesheet" href="{% static "js/pace.min.js" %}">
    <link rel="stylesheet" href="{% static "js/plugins.js" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>
<body id="top">
<section class="s-pageheader s-pageheader--home">
    <header class="header">
        <div class="header__content row">
            <div class="header__logo">
                <a class="logo" href="{% url "index" %}"><img src={% static "logo_ua.PNG" %} alt="UA_online"></a>
            </div>
            <ul class="header__social">
                <li><a href="https://ru-ru.facebook.com/tsn.ua/">
                    <ion-icon name="logo-facebook"></ion-icon>
                </a></li>
                <li><a href="https://twitter.com/tsnua?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                    <ion-icon name="logo-twitter"></ion-icon>
                </a></li>
                <li><a href="https://www.instagram.com/tsnua/">
                    <ion-icon name="logo-instagram"></ion-icon>
                </a></li>
                <li><a href="https://www.youtube.com/watch?v=WY8sDvZdWEA&ab_channel=%D0%A2%D0%A1%D0%9D">
                    <ion-icon name="logo-youtube"></ion-icon>
                </a></li>
            </ul>
            <form method="post" action="{% url "search" %}" class="input-group" id="search_form">
                {% csrf_token %}
                <input type="search" name="query" class="form-control">
                <span class="input-group-btn" style="transform: translate(10px, -100px);"
                      onclick="search_form.submit('')">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </form>
            <nav class="header__nav-wrap">
                <ul class="header__nav" style="font-size: 18px;">
                    <li class="current"><a href="{% url 'index' %}">{% trans "ГОЛОВНА СТОРІНКА" %}</a></li>
                    <li class="has-children">
                        <a href="#0" title="">{% trans "КАТЕГОРІЇ" %}</a>
                        <ul class="sub-menu">
                            <li><a href="{% url "gallery" %}">{% trans "Фото in UA" %}</a></li>
                            {% for c in cat %}
                                <li><a href="{% url "category" id=c.pk %}">{{ c.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li><a href="{% url 'about' %}" title="">{% trans "ПРО НАС" %}</a></li>
                    <li><a href="https://dimcharity.com/" title="">{% trans "ПІДТРИМАЙ UA" %}</a></li>
                    {% if request.user.is_authenticated %}
                        &emsp;&emsp; <a>{% trans "Вітаю," %} {{ request.user }}</a>
                        &emsp;&emsp;
                        <li><a href="{% url 'logout' %}">{% trans "Вийти" %}</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">{% trans "УВІЙТИ" %}</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div class="pageheader-content row">
        <div class="col-full">
            <div class="featured">
                <div class="featured__column featured__column--big">
                    <div class="entry" style="background-image:url({% static 'uk_mom.jpg' %});">
                        <div class="entry__content">
                            <span class="entry__category" style="font-size:16px;font-weight: 900;"><a
                                    href="{% url 'create' %}">{% trans "Запропонувати новину" %}</a></span>
                            <h1><a href="#0" title="">{% trans "Доброго вечора, ми з України!" %}</a></h1>
                            <div class="entry__info" style="font-size:23px;color:#FFFFFF;padding: 0;">
                                <ul>{% trans "Останні новини України" %} &#8226; {% trans "новини онлайн" %}</ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="featured__column featured__column--small">
                    <div class="entry" style="background-image:url({% static '1.jpg' %});">
                        <div class="entry__content">
                            <span class="entry__category" style="font-size:12px; background-color: #01aef0;"><a
                                    href="{% url "upload" %}">{% trans "Завантажити фотографію" %} </a></span>
                            <h1><a href="#0" title="">{% trans "Поділися своїми враженнями" %}</a></h1>
                        </div>
                    </div>
                    <div class="entry" style="background-image:url({% static 'prapor.jpg' %});">
                        <div class="entry__content">
                            <span class="entry__category" style="font-size:12px;"><a
                                    href="{% url "gallery" %}">{% trans "Фото in UA" %}</a></span>
                            <h1><a href="#0" title="">{% trans "Україна починається з тебе" %}</a></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="s-content">
    <div class="row masonry-wrap">
        <div class="masonry">
            <div class="grid-sizer"></div>
            {% for post in posts %}
                <article class="masonry__brick entry format-standard" data-aos="fade-up">
                    <div class="entry__thumb">
                        <a href="{% url "post" post.pk %}" class="entry__thumb-link">
                            <img src="{{ post.img.url }}" style="width: 330px; height: 280px; object-fit: cover;"
                                 alt="">
                        </a>
                    </div>
                    <div class="entry__text" style=" height: 380px; object-fit: cover;">
                        <div class="entry__header">
                            <div class="entry__date">
                                <img src={% static "clock.png" %} height= 5%; width=5%;
                                     title="{% trans "Опубліковано" %}">
                                {{ post.published_date }}
                            </div>
                            <h1 class="entry__title"><a href="{% url "post" post.pk %}">{{ post.title }}</a></h1>
                        </div>
                        <div class="entry__excerpt">
                            <p>
                                {{ post.content|truncatewords:20 }}
                            </p>
                        </div>
                        <div class="entry__meta">
                            <span class="entry__meta-links">
                                 <img src={% static "profile.png" %} height= 6%; width=6%;
                                      title="{% trans "Автор" %}">
                                <a href="{% url "user" post.user.id  %}"> {{ post.user }}</a>
                                <br/>
                                  <img src={% static "category.png" %} height= 6%; width=6%;
                                       title="{% trans "Категорія" %}"><a
                                    href="{% url "category" post.category.id %}"> {{ post.category }}</a>
                            </span>
                        </div>
                    </div>
                </article>
            {% endfor %}
        </div>
    </div>
</section>
<section class="s-extra">
    <div class="row top">
        <div class="col-eight md-six tab-full popular">
            <h3 style="margin-left: 170px;">{% trans 'Дошка оголошень' %}</h3>
            <div class="block-1-2 block-m-full popular__posts" style="margin-top: 50px;">
                <article class="col-block popular__post">
                    <a href="#0" class="popular__thumb">
                        <img src={% static "dogs.jpg" %} alt="" style="height: 170px; width: 170px;">
                    </a>
                    <h5 style="height: 120px; width: 150px; margin-bottom: 30px; margin-left: 100px; font-size: 19px;">{% trans "Доля безпритульних котиків та песиків у твоїх руках." %}</h5>
                    <section class="popular__meta">
                        <span class="popular__author"
                              style="height: 120px; width: 120px;  margin-left: 100px; font-size: 17px;"> <a
                                href="https://happypaw.ua/ua/">{% trans "ДОПОМОГТИ " %}</a></span>
                    </section>
                </article>
                <article class="col-block popular__post" style="margin-bottom: 120px;">
                    <a href="{% url "about" %}" class="popular__thumb">
                        <img src={% static "images.png" %} alt="" style="height: 170px; width: 170px;">
                    </a>
                </article>
                <article class="col-block popular__post">
                    <a href="#0" class="popular__thumb">
                        <img src={% static "children.jpg" %} alt="Контакти" style="height: 170px; width: 170px;">
                    </a>
                    <h5 style="height: 120px; width: 150px; margin-bottom: 30px; margin-left: 100px; font-size: 19px;">{% trans "У нас війна. Мільйони дітей постраждали. Дітям потрібна наша спільна" %}</h5>
                    <section class="popular__meta">
                        <span class="popular__author"
                              style="height: 120px; width: 120px;  margin-left: 100px; font-size: 17px;"><a
                                href="https://voices.org.ua/">{% trans "ДОПОМОГА" %}</a></span>
                    </section>
                </article>
                <article class="col-block popular__post">
                    <a href="{% url "about" %}" class="popular__thumb">
                        <img src={% static "images.png" %} alt="Контакти" style="height: 170px; width: 170px;">
                    </a>
                </article>
            </div>
        </div>
        <div class="col-four md-six tab-full about">
            <h3>{% trans 'Війна Росії проти України' %}</h3>
            <p style="font-size: 17px;">
                {% trans '24 лютого Росія розпочала масштабне вторгнення до України по всій довжині спільного кордону і з території Білорусі. Україна чинить запеклий опір' %}
            </p>
            <p style="font-size: 17px;">
                {% trans 'Армія Росії обстріляла прикордонні застави, завдала удари з повітря по понад 40 об єктах військової інфраструктури майже усіх регіонів України. Розпочався рух танкових колон і живої сили. Путін назвав це «спецоперацією» з метою «демілітаризації і денацифікації України».' %}
            </p>
            <p><a href="https://uk.wikipedia.org/wiki/%D0%A0%D0%BE%D1%81%D1%96%D0%B9%D1%81%D1%8C%D0%BA%D0%BE-%D1%83%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%B0_%D0%B2%D1%96%D0%B9%D0%BD%D0%B0_(%D0%B7_2014)"
                  title="">{% trans "Докладніше..." %}</a></p>
        </div>
    </div>
    <div class="row bottom tags-wrap">
        <div class="col-full tags">
            <h3>{% trans "Категорії" %}</h3>
            <div class="tagcloud">
                <a href="{% url "gallery" %}">{% trans "Фото in UA" %}</a>
                {% for c in cat %}
                    <a href="{% url "category" id=c.pk %}">{{ c.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<div class="akeconsa-udaneles">
    <a href="#" title={% trans "Вверх" %}><span class="fas fa-angle-up"></span></a>
</div>
<footer style="padding-top: 0; padding-bottom: 0;">
    <ul class="social">
        <li><a href="https://ru-ru.facebook.com/tsn.ua/">
            <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
        <li><a href="https://twitter.com/tsnua?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
            <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
        <li><a href="https://www.instagram.com/tsnua/">
            <ion-icon name="logo-instagram"></ion-icon>
        </a></li>
        <li><a href="https://www.youtube.com/watch?v=WY8sDvZdWEA&ab_channel=%D0%A2%D0%A1%D0%9D">
            <ion-icon name="logo-youtube"></ion-icon>
        </a></li>
    </ul>
    <ul class="menu" style="font-size: 18px;">
        <li><a href="{% url 'index' %}">{% trans "Головна сторінка" %}</a></li>
        <li><a href="{% url 'about' %}">{% trans "Про нас" %}</a></li>
        <li><a href="https://dimcharity.com/">{% trans "Підтримай UA" %}</a></li>
    </ul>
    <p>&copy; 2022 {% trans "А" %}</p>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</footer>
</body>
</html>

<style>

    i.right, i.left {
        border: solid black;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 7px;
        margin-right: 18px;
        margin-left: 18px;
    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }

</style>









