{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="row" style="margin-top: -80px;">
        <h2>{{ title }}</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <h4>{% trans "Ви впевнені, що хочете вилучити новину під назвою " %} "{{ post.title }}"?</h4>
            <h4><input type="submit" value={% trans "Вилучити" %}></h4>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

    <style>

        input[type="submit"] {
            font-size: 1.4rem;
        }

        input[type="submit"]:hover, :focus {
            color: #FFFFFF;
            background: #151515;
            text-transform: uppercase;
            font-size: 1.6rem;
        }

    </style>

{% endblock %}